# .aliases: bash environment pimping
# vim: ft=sh

# walk speedups and typo fixes
alias ..='cd ..'
alias ...='cd ../..'
alias cd..='cd ..'
alias cd-='cd -'

# suppress CDPATH output
alias cd='>/dev/null cd'

# emit colorized output
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ls='ls --color=auto'

alias rd='rmdir'
alias md='mkdir -p'

alias la='ls -la'
alias ll='ls -l'
alias l.='ls -d .*'
alias ll.='ll -d .*'

# even less typing than less
alias o='less'

# simple one-line fuzzy finder
f() { ff() { find . -iname "*$**" ; } ; IFS="*" ff "$@" ; }

# recursive grep shortcut
alias rgrep='grep -r -n'

alias ggrep='git grep -n'
git-sed() {
	if [[ $# -ne 2 ]]; then
		echo "usage: git-sed <expression> <replacement>"
	else
		git grep -l "$1" |xargs sed -e "s|$1|$2|g" -i
	fi
}

# check errors on a daily basis
alias gcc='gcc -Wall -Wextra'
alias g++='g++ -Wall -Wextra'

# skip banner message
alias gdb='gdb --quiet'

# use CURL like a pro
alias curl-ajax='curl -H "X-Requested-With: XMLHttpRequest"'
alias curl-json='curl-ajax -H "Content-Type: application/json"'
alias curl-auth='curl-json -H "Authorization: Bearer $JWT"'
alias curl-ws='curl -H "Connection: Upgrade" -H "Upgrade: websocket"'

# use line and column jumper
alias vscode='code --goto'

# random cool stuff
alias grep-nonascii='grep -P -n "[\x80-\xFF]"'
alias python3-http='python3 -m http.server'
