# ignore private (not dot related) files

icon-theme.cache

.config/Code/User.dottie/workspaceStorage/
.config/Code/User.dottie/*.backup

.config/beets.dottie/library.db
.config/beets.dottie/state.pickle

.config/mpv.dottie/watch_later/

.config/nvim.dottie/autoload/
.config/nvim.dottie/plugged/
.config/nvim.dottie/spell/
.config/nvim.dottie/.netrwhist

.fluxbox.dottie/bin/
.fluxbox.dottie/images/
.fluxbox.dottie/fbrun_history
