[user]
	name = Arkadiusz Bokowy
	email = arkadiusz.bokowy@gmail.com
[alias]
	ad = add
	cm = commit
	co = checkout
	cp = cherry-pick
	df = diff
	dt = difftool
	pl = pull
	pr = pull --rebase=merges
	s = status --short --branch
	sh = show
	st = status
	dissect = bisect
[core]
	pager = less -FRX
[diff]
	colorMoved = dimmed-zebra
[init]
	defaultBranch = master
[log]
	decorate = auto
[push]
	default = simple
[pull]
	rebase = false
[rebase]
	autosquash = true
	autostash = true
[receive]
	denyCurrentBranch = updateInstead
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = arkadiusz.bokowy@gmail.com
	smtpServerPort = 587
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
